@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

:root{
    --primary-light : #0c8195;
    --primary-dark : #057a8d;
    --title-color : #f1c111;
    --bg-color : #171818;
}

/*Global Style*/
*
{
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

/*Navbar*/
.navbar{
    background-color: var(--primary-light);
    padding: 20px;
}
.navbar-brand{
    color: #fff;
}
.navbar-brand:hover{
    color: var(--title-color);
    cursor: pointer;
}
.navbar-nav .nav-link{
    display: inline-block;
    color: white!important;
    padding-left: 25px!important;
    padding-right: 25px!important;
}
.navbar-nav .nav-item.active .nav-link{
    color: var(--title-color);
    border: 2px solid var(--title-color);
    border-radius: 20px;
}
.navbar-nav .nav-item.active .nav-link{
    color: var(--title-color)!important;
    font-weight: 600;

}
.bars span{
    display: block;
    height: 2px;
    width: 35px;
    background-color: #fff;
    margin-bottom: 8px;
}

@media(max-width:992px){
   .nav-item{
       text-align: center;
   }
}

